<!-- SSH Observatory recommendations panel -->
<div class="card card-success mt-4" id="ssh-recommendations">
    <div class="card-header bg-success text-center text-md-left text-white">
        <span class="h3">Recommendations</span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="ssh-recommendations-table">
            </table>
        </div>
        <div class="text-center d-none" id="ssh-no-recommendations">
          🎉🎉🎉  <em>We don't have any! Keep up the good work!</em> 🎉🎉🎉
        </div>
    </div>
</div>
