<!-- SSH Observatory version information panel -->
<div class="card card-primary mt-4" id="ssh-version">
    <div class="card-header bg-primary text-center text-md-left text-white">
        <span class="h3">Version Information</span>
    </div>
    <div class="card-body pb-0">
        <div class="table-responsive">
            <table class="table tablesaw table-striped summary" id="ssh-version-table" data-tablesaw-mode="stack" data-tablesaw-hide-empty data-tablesaw-no-labels>
                <thead>
                    <th scope="column"></th>
                    <th scope="column"></th>
                </thead>
                <tbody>
                    <tr>
                        <td>Server Banner:</td>
                        <td id="ssh-server_banner"></td>
                    </tr>
                    <tr>
                        <td>Operating System Identifier:</td>
                        <td id="ssh-os_cpe"></td>
                    </tr>
                    <tr>
                        <td>SSH Library Identifier:</td>
                        <td id="ssh-ssh_lib_cpe"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
