<!-- SSH Observatory version information panel -->
<div class="panel panel-primary" id="ssh-version">
    <div class="panel-heading">
        <span class="h3">Version Information</span>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-condensed pull-left scan-summary-table" id="ssh-version-table">
                <tr>
                    <td>Server Banner:</td>
                    <td id="ssh-server_banner"></td>
                </tr>
                <tr>
                    <td>Operating System Identifier:</td>
                    <td id="ssh-os_cpe"></td>
                </tr>
                <tr>
                    <td>SSH Library Identifier:</td>
                    <td id="ssh-ssh_lib_cpe"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
