<!-- HTTP Observatory cookie results -->
<div class="card mt-4 d-none" id="cookies">
    <div class="card-header bg-primary text-white">
        <span class="h3">Cookies</span>
    </div>
    <div class="card-body pb-0 pt-1" id="cookies-panel-body">
        <div class="table-responsive">
            <table class="table tablesaw table-striped" id="cookies-table" data-tablesaw-mode="stack" data-tablesaw-hide-empty>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Expires</th>
                        <th class="tablesaw-center">Path</th>
                        <th class="tablesaw-center"><abbr title="Secure" data-toggle="popover" data-content="Setting the <code>Secure</code> attribute on cookies will prevent them from being sent over insecure HTTP.">Secure</abbr></th>
                        <th class="tablesaw-center"><abbr title="HttpOnly" data-toggle="popover" data-content="<code>HttpOnly</code> cookies are inaccessible from JavaScript, preventing cross-site scripting (XSS) attacks from stealing session cookies.">HttpOnly</abbr></th>
                        <th class="tablesaw-center"><abbr title="SameSite" data-toggle="popover" data-content="The <code>SameSite</code> attribute prevents your cookies from being sent cross-site, protecting against CSRF attacks.">SameSite</abbr></th>
                        <th class="tablesaw-center"><abbr title="Prefixed" data-toggle="popover" data-content="Using the <code>__Host-</code> and <code>__Secure-</code> prefixes on cookie names prevents them from being overwritten by insecure origins.">Prefixed</abbr></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>