<!-- HTTP Observatory host history results d-none d-md-block-->
<div class="card  mt-4" id="host-history">
    <div class="card-header bg-primary text-center text-md-left text-white">
        <span class="h3">Grade History</span>
        <button class="btn btn-default bg-white float-right expandy-panel-button" type="button" data-toggle="collapse" data-target="#host-history-panel-body" aria-expanded="false" aria-controls="host-history-panel-body">Click to View</button>
    </div>
    <div class="card-body collapse pb-0 pt-1" id="host-history-panel-body">
        <table class="table tablesaw table-striped" id="host-history-table" data-tablesaw-mode="stack" data-tablesaw-hide-empty>
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th class="tablesaw-center" scope="col">Score</th>
                    <th class="tablesaw-center" scope="col">Grade</th>
                </tr>
            </thead>
        </table>
    </div>
</div>