//
// Tablesaw
//
$tablesaw-width: 39.9375em;

@media (min-width: $tablesaw-width) {
  .tablesaw-center {
    text-align: center !important;
  }

  #server-headers-table tr td:nth-child(1),
  #tls-certificate-table tr td:nth-child(1),
  #tls-misc-table tr td:nth-child(1),
  #ssh-misc-table tr td:nth-child(1),
  #ssh-version-table tr td:nth-child(1) {
    white-space: nowrap; 
  }
}

@media (max-width: $tablesaw-width) {
  .tablesaw tbody tr {
    border-bottom: solid 2px $gray-600;
  }
  .tablesaw tbody tr:nth-of-type(1) {
    border: 0;
  }
  .tablesaw tbody tr td span.tablesaw-cell-content {
    font-weight: 400;
  }
  .tablesaw-cell-label::after {
    content: ":";
  }
  .tablesaw-stack tbody td {
    border: 0;
    padding: .4375rem .75rem;
  }
}
