// colors
$blue:     #4582ec !default;
$green:    #3fad46 !default;
$teal:     #5bc0de !default;
$orange:   #f0ad4e !default;
$red:      #d9534f !default;
$white:    #fff    !default;

$gray-base:     #000 !default;
$gray-25: lighten($gray-base, 97.5%) !default;
$gray-50: lighten($gray-base, 95%) !default;
$gray-100: lighten($gray-base, 90%) !default;
$gray-200: lighten($gray-base, 80%) !default;
$gray-300: lighten($gray-base, 70%) !default;
$gray-400: lighten($gray-base, 60%) !default;
$gray-500: lighten($gray-base, 50%) !default;
$gray-600: lighten($gray-base, 40%) !default;
$gray-700: lighten($gray-base, 30%) !default;
$gray-800: lighten($gray-base, 20%) !default;
$gray-900: lighten($gray-base, 10%) !default;

$primary:  $blue !default;
$success:  $green !default;
$info:     $teal !default;
$warning:  $orange !default;
$danger:   $red !default;

$theme-color-interval:     10% !default;
$yiq-contrasted-threshold: 220 !default;


// grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


// typography
$font-family-sans-serif:  "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-serif !default;

$headings-font-family:    $font-family-sans-serif !default;
$headings-font-weight:    700 !default;

$popover-font-size:       1rem !default;

.btn,
.navbar {
  font-family: $font-family-sans-serif;
}

//
// Components
//

// alerts
$alert-bg-level: 0 !default;
$alert-border-radius: 0 !default;
$alert-border-width: 0 !default;
$alert-color-level: -10 !default;

// cards
$card-spacer-y: .575rem !default;
$card-spacer-x: 1.25rem !default;

// inputs
$input-placeholder-color: $gray-300 !default;

// navs
$nav-tabs-border-color: $gray-200 !default;
$nav-tabs-link-active-bg: $blue !default;
$nav-tabs-link-active-color: $white !default;
.nav-tabs {
  .nav-link.nav-item {
    background: $gray-25;
    border: 1px solid $gray-200;
    margin-right: 2px;
  }
  .nav-link.nav-item.active {
    border: 1px solid $blue;
    font-weight: 700;
  }
}

// tables
$table-border-color: $gray-200 !default;


//
// Utilities
//
@media (min-width: map-get($grid-breakpoints, 'xs')) {
  .d-xs-none {
    display: none !important;
  }
}

@media (min-width: map-get($grid-breakpoints, 'lg')) {
  .tablesaw-hideable {
    display: table-cell !important;
  }

  .tablesaw-nowrap {
    white-space: nowrap !important;
  }
}

@media (max-width: map-get($grid-breakpoints, 'lg')) {
  .tablesaw-hideable {
    display: none !important;
  }
}


//
// Tablesaw
//
@media (min-width: 39.9375em) {
  .tablesaw-center {
    text-align: center !important;
  }
}

@media (max-width: 39.9375em) {
  .tablesaw tbody tr {
    border-bottom: solid 2px $gray-600;
  }
  .tablesaw tbody tr td span.tablesaw-cell-content {
    font-weight: 400;
  }
}