.deemphasize {
  color: $gray-500;
}

// nav tabs
@media (max-width: map-get($grid-breakpoints, 'md')) {
  .nav-tabs {
    line-height: 1.15;

    .nav-link.nav-item.active {
      svg {
        display: inherit;
        height: 1.2rem;
        margin-left: -.6rem;
      }
    }
  }
}

// eventually httpobs.css should go away, but let's start by moving things over slowly
@media (min-width: $tablesaw-width) {
  #cookies tr td:nth-child(1) {
    max-width: 8em;
    word-wrap: break-word;
  }

  .colon-ized tbody tr td:first-child::after {
      content: ":";
  }

  #tls-ciphers-table {
    thead tr th:nth-of-type(1),
    thead tr th:nth-of-type(3) {
      white-space: nowrap;
    }

    tr th:nth-of-type(2) {
        text-align: center;
    }

    tr td:nth-of-type(1) {
        border-right: solid 1px $gray-200;
        padding-right: 1em;
    }

    /* code point */
    tr td:nth-of-type(2) {
        color: $gray-600;
        font-family: $font-family-monospace;
        font-size: .85em;
    }

  }
}

@media (max-width: $tablesaw-width) {
  #tls-ciphers-table {
    /* code point */
    tr td:nth-of-type(2) span.tablesaw-cell-content {
        color: $gray-600;
        font-family: $font-family-monospace;
        font-size: .85em;
    }
  }
}