{% extends "base.html" %}

{% block content %}
    <div class="row" id="scan-progress">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="h3">Mozilla Observatory</span>
            </div>

            <div class="alert-hidden" id="scan-alert" role="alert">
                <strong>Error: </strong>
                <span id="scan-alert-text"></span>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2 row">
                    <div class="progress large-progress-bar" id="scan-progress-bar">
                        <div class="progress-bar progress-bar-striped active large-progress-bar-text" id="scan-text" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                            Loading Results
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- HTTP Observatory Scan Results -->
    <div class="row" id="scan-results">
        <div class="page-header no-margin-top">
            <h1 class="no-margin-top">HTTP Observatory</h1>
        </div>

        <div class="panel panel-primary summary" id="scan-summary">
            <div class="panel-heading">
                <span class="h3">Scan Summary</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <span class="grade-container text-center" id="scan-grade-container">
                            <span class="grade-letter" id="scan-grade-letter"></span>
                            <sup class="grade-letter-modifier" id="scan-grade-modifier"></sup>
                        </span>
                    </div>
                    <div class="col-md-10">
                        <table class="table table-striped table-condensed pull-left scan-summary-table">
                            <tr>
                                <td>Host:</td>
                                <td id="scan-hostname"></td>
                            </tr>
                            <tr>
                                <td>Scan ID #:</td>
                                <td><span id="scan-scan_id"></span></td>
                            </tr>
                            <tr>
                                <td>Start Time:</td>
                                <td id="scan-start_time"></td>
                            </tr>
                            <tr>
                                <td>End Time:</td>
                                <td id="scan-end_time"></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Score:</td>
                                <td><span id="scan-score"></span>/100</td>
                            </tr>
                            <tr>
                                <td>Tests Passed:</td>
                                <td><span id="scan-tests_passed"></span>/<span id="scan-tests_quantity"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- HTTP Observatory test results -->
        <div class="panel panel-primary" id="test-scores">
            <div class="panel-heading">
                <span class="h3">Test Scores</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-striped table-condensed pull-left scan-summary-table">
                        <tr>
                            <th>Test</th>
                            <th>Pass</th>
                            <th>Score</th>
                            <th>Explanation</th>
                        </tr>
                        <tr>
                            <td><a href="https://wiki.mozilla.org/Security/Guidelines/Web_Security#Content_Security_Policy">Content Security Policy</a></td>
                            <td class="glyphicon" id="tests-content-security-policy-pass"></td>
                            <td id="tests-content-security-policy-score"></td>
                            <td id="tests-content-security-policy-score-description"></td>
                        </tr>
                        <tr>
                            <td><a href="https://wiki.mozilla.org/Security/Guidelines/Web_Security#contribute.json">Contribute.json</a></td>
                            <td class="glyphicon" id="tests-contribute-pass"></td>
                            <td id="tests-contribute-score"></td>
                            <td id="tests-contribute-score-description"></td>
                        </tr>
                        <tr>
                            <td><a href="https://wiki.mozilla.org/Security/Guidelines/Web_Security#Cookies">Cookies</a></td>
                            <td class="glyphicon" id="tests-cookies-pass"></td>
                            <td id="tests-cookies-score"></td>
                            <td id="tests-cookies-score-description"></td>
                        </tr>
                        <tr>
                            <td><a href="https://wiki.mozilla.org/Security/Guidelines/Web_Security#Cross-origin_Resource_Sharing">Cross-origin Resource Sharing</a></td>
                            <td class="glyphicon" id="tests-cross-origin-resource-sharing-pass"></td>
                            <td id="tests-cross-origin-resource-sharing-score"></td>
                            <td id="tests-cross-origin-resource-sharing-score-description"></td>
                        </tr>
                        <tr>
                            <td><a href="https://wiki.mozilla.org/Security/Guidelines/Web_Security#HTTP_Public_Key_Pinning">HTTP Public Key Pinning</a></td>
                            <td class="glyphicon" id="tests-public-key-pinning-pass"></td>
                            <td id="tests-public-key-pinning-score"></td>
                            <td id="tests-public-key-pinning-score-description"></td>
                        </tr>
                        <tr>
                            <td><a href="https://wiki.mozilla.org/Security/Guidelines/Web_Security#HTTP_Strict_Transport_Security">HTTP Strict Transport Security</a></td>
                            <td class="glyphicon" id="tests-strict-transport-security-pass"></td>
                            <td id="tests-strict-transport-security-score"></td>
                            <td id="tests-strict-transport-security-score-description"></td>
                        </tr>
                        <tr>
                            <td><a href="https://wiki.mozilla.org/Security/Guidelines/Web_Security#HTTP_Redirections">Redirection</a></td>
                            <td class="glyphicon" id="tests-redirection-pass"></td>
                            <td id="tests-redirection-score"></td>
                            <td id="tests-redirection-score-description"></td>
                        </tr>
                        <tr>
                            <td><a href="https://wiki.mozilla.org/Security/Guidelines/Web_Security#Subresource_Integrity">Subresource Integrity</a></td>
                            <td class="glyphicon" id="tests-subresource-integrity-pass"></td>
                            <td id="tests-subresource-integrity-score"></td>
                            <td id="tests-subresource-integrity-score-description"></td>
                        </tr>
                        <tr>
                            <td><a href="https://wiki.mozilla.org/Security/Guidelines/Web_Security#X-Content-Type-Options">X-Content-Type-Options</a></td>
                            <td class="glyphicon" id="tests-x-content-type-options-pass"></td>
                            <td id="tests-x-content-type-options-score"></td>
                            <td id="tests-x-content-type-options-score-description"></td>
                        </tr>
                        <tr>
                            <td><a href="https://wiki.mozilla.org/Security/Guidelines/Web_Security#X-Frame-Options">X-Frame-Options</a></td>
                            <td class="glyphicon" id="tests-x-frame-options-pass"></td>
                            <td id="tests-x-frame-options-score"></td>
                            <td id="tests-x-frame-options-score-description"></td>
                        </tr>
                        <tr>
                            <td><a href="https://wiki.mozilla.org/Security/Guidelines/Web_Security#X-XSS-Protection">X-XSS-Protection</a></td>
                            <td class="glyphicon" id="tests-x-xss-protection-pass"></td>
                            <td id="tests-x-xss-protection-score"></td>
                            <td id="tests-x-xss-protection-score-description"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- HTTP Observatory test results -->
        <div class="panel panel-primary" id="server-headers">
            <div class="panel-heading">
                <span class="h3">Raw Server Headers</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-striped table-condensed pull-left scan-summary-table" id="server-headers-table">
                    </table>
                </div>
            </div>
        </div>

        <div class="page-header">
            <h1>TLS Observatory</h1>
        </div>

        <!-- TLS Observatory -->
        <div id="tlsobservatory">
            <div class="panel panel-primary summary" id="tlsobservatory-summary">
                <div class="panel-heading">
                    <span class="h3">Scan Summary</span>
                </div>
                <div class="panel-body">
                    <div class="progress large-progress-bar large-progress-bar-condensed" id="tlsobservatory-summary-progress-bar">
                        <div class="progress-bar progress-bar-striped active large-progress-bar-text" id="tlsobservatory-summary-progress-bar-text" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                            PENDING (This may take several minutes)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <span class="grade-container text-center" id="tlsobservatory-summary-grade-container">
                                <span class="grade-letter" id="tlsobservatory-summary-grade-letter"></span>
                                <sup class="grade-letter-modifier" id="tlsobservatory-summary-grade-modifier"></sup>
                            </span>
                        </div>
                        <div class="col-md-10">
                            <table class="table table-striped table-condensed pull-left tlsobservatory-summary-summary-table">
                                <tr>
                                    <td>Target:</td>
                                    <td id="tlsobservatory-summary-target"></td>
                                </tr>
                                <tr>
                                    <td>Scan ID #:</td>
                                    <td id="tlsobservatory-summary-scan_id"></td>
                                </tr>
                                <tr>
                                    <td>End Time:</td>
                                    <td id="tlsobservatory-summary-end_time"></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><a href="https://wiki.mozilla.org/Security/Server_Side_TLS#Recommended_configurations">Mozilla Compliance Level:</a></td>
                                    <td id="tlsobservatory-summary-mozilla_compliance_level"></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Certificate Results:</td>
                                    <td id="tlsobservatory-summary-certificate_url"></td>
                                </tr>
                                <tr>
                                    <td>Scan Results:</td>
                                    <td id="tlsobservatory-summary-results_url"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TLS Observatory certificate panel -->
            <div class="panel panel-primary" id="tlsobservatory-certificate">
                <div class="panel-heading">
                    <span class="h3">Certificate Information</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table class="table table-striped table-condensed pull-left scan-summary-table" id="tlsobservatory-certificate-table">
                            <tr>
                                <td>Subject:</td>
                                <td id="tlsobservatory-certificate-subject"></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Certificate ID #:</td>
                                <td id="tlsobservatory-certificate-cert_id"></td>
                            </tr>
                            <tr>
                                <td>First Seen:</td>
                                <td id="tlsobservatory-certificate-first_seen"></td>
                            </tr>
                            <tr>
                                <td>Last Seen:</td>
                                <td id="tlsobservatory-certificate-last_seen"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header">
            <h1>Third-party Scan Results</h1>
        </div>

        <!-- hstspreload.appspot.com -->
        <div class="panel panel-primary summary" id="hstspreload-summary">
            <div class="panel-heading">
                <span class="h3">hstspreload.appspot.com</span>
            </div>
            <div class="panel-body">
                <div class="progress large-progress-bar large-progress-bar-condensed" id="hstspreload-progress-bar">
                    <div class="progress-bar progress-bar-striped active large-progress-bar-text" id="hstspreload-progress-bar-text" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                        PENDING
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <span class="grade-container text-center" id="hstspreload-grade-container">
                            <span class="grade-letter" id="hstspreload-grade-letter"></span>
                            <sup class="grade-letter-modifier" id="hstspreload-grade-modifier"></sup>
                        </span>
                    </div>
                    <div class="col-md-10">
                        <table class="table table-striped table-condensed pull-left hstspreload-summary-table">
                            <tr>
                                <td>Host:</td>
                                <td id="hstspreload-hostname"></td>
                            </tr>
                            <tr>
                                <td>Preloaded:</td>
                                <td id="hstspreload-preloaded"></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td id="hstspreload-notes-label">Notes:</td>
                                <td id="hstspreload-notes"></td>
                            </tr>
                            <tr>
                                <td>Complete Results:</td>
                                <td id="hstspreload-url"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- securityheaders.io -->
        <div class="panel panel-primary summary" id="securityheaders-summary">
            <div class="panel-heading">
                <span class="h3">securityheaders.io</span>
            </div>
            <div class="panel-body">
                <div class="progress large-progress-bar large-progress-bar-condensed" id="securityheaders-progress-bar">
                    <div class="progress-bar progress-bar-striped active large-progress-bar-text" id="securityheaders-progress-bar-text" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                        PENDING
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <span class="grade-container text-center" id="securityheaders-grade-container">
                            <span class="grade-letter" id="securityheaders-grade-letter"></span>
                            <sup class="grade-letter-modifier" id="securityheaders-grade-modifier"></sup>
                        </span>
                    </div>
                    <div class="col-md-10">
                        <table class="table table-striped table-condensed pull-left securityheaders-summary-table">
                            <tr>
                                <td>Host:</td>
                                <td id="securityheaders-hostname"></td>
                            </tr>
                            <tr>
                                <td>Complete Results:</td>
                                <td id="securityheaders-url"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- tls.imirhil.fr -->
        <div class="panel panel-primary summary" id="tlsimirhilfr-summary">
            <div class="panel-heading">
                <span class="h3">tls.imirhil.fr</span>
            </div>
            <div class="panel-body">
                <div class="progress large-progress-bar large-progress-bar-condensed" id="tlsimirhilfr-progress-bar">
                    <div class="progress-bar progress-bar-striped active large-progress-bar-text" id="tlsimirhilfr-progress-bar-text" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                        PENDING (This may take several minutes)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <span class="grade-container text-center" id="tlsimirhilfr-grade-container">
                            <span class="grade-letter" id="tlsimirhilfr-grade-letter"></span>
                            <sup class="grade-letter-modifier" id="tlsimirhilfr-grade-modifier"></sup>
                        </span>
                    </div>
                    <div class="col-md-10">
                        <table class="table table-striped table-condensed pull-left tlsimirhilfr-summary-table">
                            <tr>
                                <td>Host:</td>
                                <td id="tlsimirhilfr-hostname"></td>
                            </tr>
                            <tr>
                                <td>IP addresses:</td>
                                <td id="tlsimirhilfr-addresses"></td>
                            </tr>
                            <tr id="tlsimirhilfr-failing_addresses-row">
                                <td>Failing addresses:</td>
                                <td id="tlsimirhilfr-failing_addresses"></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Cipher score:</td>
                                <td><span id="tlsimirhilfr-cipher_score"></span>/100</td>
                            </tr>
                            <tr>
                                <td>Key exchange score:</td>
                                <td><span id="tlsimirhilfr-key_exchange_score"></span>/100</td>
                            </tr>
                            <tr>
                                <td>Protocol score:</td>
                                <td><span id="tlsimirhilfr-protocol_score"></span>/100</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Overall score:</td>
                                <td><span id="tlsimirhilfr-overall_score"></span>/100</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Complete Results:</td>
                                <td id="tlsimirhilfr-url"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

<!--        <div class="panel panel-primary" id="third-party-test-scores">
            <div class="panel-heading">
                <span class="h3">Additional Scanners</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-striped table-condensed pull-left scan-summary-table">
                        <tr>
                            <th>Scanner</th>
                            <th>Scan Result</th>
                        </tr>
                        <tr>
                            <td id="third-party-test-scores-htbridge"><a href="https://www.htbridge.com/ssl/">htbridge.com</a></td>
                            <td id="third-party-test-scores-htbridge-score">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width: 100%;">
                                        PENDING (This may take several minutes)
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
-->
    </div>
{% endblock %}