<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <meta name="author" content="{{ AUTHOR }}">

    <title>{{ SITENAME }} (Beta)</title>

    <link rel="stylesheet" href="css/bootstrap-3.3.6.min.css" type="text/css" />
    <link rel="stylesheet" href="css/httpobs-{{ VERSION }}.css" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" class="title">{{ SITENAME }} (Beta)</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://github.com/mozilla/http-observatory/blob/master/httpobs/docs/api.md">API Documentation</a></li>
                            <li><a href="https://github.com/mozilla/http-observatory-website/">Contribute at GitHub</a></li>
                            <li><a href="https://github.com/mozilla/http-observatory/">Frequently Asked Questions</a></li>
                            <li><a href="https://github.com/mozilla/http-observatory/blob/master/httpobs/docs/scoring.md">Scoring Methodology</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- main content -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!--
    <footer class="footer text-center">
        <div class="container">
            Licensed under the Mozilla Public License. Contribute on <a href="https://github.com/mozilla/http-observatory">GitHub</a>.
        </div>
    </footer>
    -->

    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/bootstrap-3.3.6.min.js"></script>
    <script src="js/httpobs-{{ VERSION }}.js"></script>
    <script src="js/httpobs-third-party-{{ VERSION }}.js"></script>
</body>
</html>
