<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="description" content="Observatory by Mozilla is a project designed to help developers, system administrators, and security professionals configure their sites safely and securely.">
    <meta property="og:title" content="Observatory by Mozilla">

    <!-- favicon stuff -->
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/images/favicons/favicon-196x196.png">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">

    <title>{{ SITENAME }}</title>

    <link rel="stylesheet" href="css/{{ files['bootstrap-3.3.7.min.css']['name'] }}" type="text/css" integrity="{{ files['bootstrap-3.3.7.min.css']['hash'] }}" />
    <link rel="stylesheet" href="css/{{ files['httpobs.css']['name'] }}" type="text/css" integrity="{{ files['httpobs.css']['hash'] }}" />
</head>
<body>
    <div class="hidden alert alert-success text-center" id="redirect-banner">
        <strong>You've found the Observatory development site. Were you looking for <a id="redirect-banner-url" href="https://observatory.mozilla.org">the official website</a>?</strong>
    </div>

    <nav class="navbar navbar-default navbar-static-top">
        <div id="navbar-container" class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="." class="title"><img id="observatory-wordmark" src="images/observatory-wordmark.svg"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href=".">Home</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://github.com/mozilla/http-observatory/blob/master/httpobs/docs/api.md">API Documentation</a></li>
                            <li><a href="https://github.com/mozilla/http-observatory-website/">Contribute at GitHub</a></li>
                            <li><a href="faq.html">Frequently Asked Questions</a></li>
                            <li><a href="terms.html">Legal &amp; Privacy</a></li>
                            <li><a href="https://github.com/mozilla/http-observatory/blob/master/httpobs/docs/scoring.md">Scoring Methodology</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- main content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <!--
    <footer class="footer text-center">
        <div class="container">
            Licensed under the Mozilla Public License. Contribute on <a href="https://github.com/mozilla/http-observatory">GitHub</a>.
        </div>
    </footer>
    -->

    <script src="js/{{ files['jquery-3.1.1.min.js']['name'] }}" integrity="{{ files['jquery-3.1.1.min.js']['hash'] }}"></script>
    <script src="js/{{ files['bootstrap-3.3.7.min.js']['name'] }}" integrity="{{ files['bootstrap-3.3.7.min.js']['hash'] }}"></script>
    <script src="js/{{ files['lodash-4.16.4.min.js']['name'] }}" integrity="{{ files['lodash-4.16.4.min.js']['hash'] }}"></script>
    <script src="js/{{ files['moment-2.15.1.min.js']['name'] }}" integrity="{{ files['moment-2.15.1.min.js']['hash'] }}"></script>
    <script src="js/{{ files['httpobs.js']['name'] }}" integrity="{{ files['httpobs.js']['hash'] }}"></script>
    <script src="js/{{ files['httpobs-utils.js']['name'] }}" integrity="{{ files['httpobs-utils.js']['hash'] }}"></script>
    <script src="js/{{ files['httpobs-third-party.js']['name'] }}" integrity="{{ files['httpobs-third-party.js']['hash'] }}"></script>
</body>
</html>
